/* colors to use, black, light blue, and white
Dilbert fan */

body {
    background-image: url("https://i.imgur.com/8SFV1UH.gif");
}

html {
    cursor: url('https://i.imgur.com/59ffMxU.png'), auto;      
}

h1 {
    color: lightblue; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 200px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}

.center {
    width: 50%;
    position: absolute;
    left: 25%;
}

.audio {
    text-align: center;
}

.music {
    border-width: 2px; 
    border-style: solid;
    border-color: #0B30A4;
    width: 45%;
    float: left;
}

.videogames{
    border-width: 2px;
    border-style: solid;
    border-color: #0B30A4;
    width: 45%;
    float: right;
}

h2 {
    font-family: "Comic Sans MS", cursive, sans-serif; 
    font-size: 28px; 
    letter-spacing: 2px; 
    word-spacing: 2px; 
    color: violet;
    font-weight: 400;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    text-align: center;

}

