/* colors to use, black, light blue, and white
Dilbert fan */

body {
    background-image: url("https://i.imgur.com/8SFV1UH.gif");
}

html {
    cursor: url('https://i.imgur.com/59ffMxU.png'), auto;      
}

h1 {
    color: lightblue; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 150px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}

/* .center {
    width: 50%;
    position: absolute;
    left: 25%;
} */


.music { 
    width: 30%;
    height: 500px;
    display: inline-block;
}

.videogames {
    width: 30%;
    height: 300px;
    display: inline-block;
}
.reading {
    width: 30%;
    display: inline-block;
    height: 500px;
}

h2 {
    font-family: "Comic Sans MS", cursive, sans-serif; 
    font-size: 28px; 
    letter-spacing: 2px; 
    word-spacing: 2px; 
    color: lightcoral;
    font-weight: 400;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    text-align: center;
}

#music-bars span {
    background-color: #fff;
    display: block;
    width: 1px;
    float: left;
    margin-right: 2px;
  }

  .cf {
    position:relative;

    margin:0 auto;
    clear: both;
  }
  
  .cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  .cf img.top:hover {
    opacity:0;
  }

  